
* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.fa {
    display: inline-block;
    font-weight: 900;
}

.menu-img img {
    max-width: 67%;
    display: block;
    margin: 0 auto;
    padding-top: 0.2rem;
}

.menu-img {
    background-color: #f2f2f2;
    height: 220px;
}

.menu-select-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 3rem;
    position: relative;
    bottom: 50px;
}

.menu-select-container-item-01,
.menu-select-container-item-02,
.menu-select-container-item-03 {
    background-color: #2cbbc1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    list-style-type: none;
    position: relative;
}

.menu-select-container a {
    position: relative;
    top: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-size: 20px;
    cursor: pointer;
}

.search_content_container {
    display: flex;
    justify-content: center;
}

.search_content_container input {
    width: 290px;
    height: 50px;
    background: transparent;
    border: none;
    padding-left: 10px;
}

.search_content_container button {
    width: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search_content-itens {
    background-color: #f2f2f2;
    border-radius: 20px;
    opacity: 50%;
}

.search_content-itens input::placeholder {
    padding-left: 15px;
    color: black;
    font-family: 'Roboto';
}

.carousel-inner {
    max-width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    height: 410px;
}

.menu-select-container-item-01,
.menu-select-container-item-03 {
    animation: movetoypositive 2s ease-in alternate-reverse;
}

.menu-select-container-item-02 {
    animation: movetoynegative 2s ease-in alternate-reverse;
}

.menu-select-container-item-01 i,
.menu-select-container-item-02 i,
.menu-select-container-item-03 i {
    animation: fadeIn 2s ease-in-out forwards;
}


@keyframes movetoypositive {
    from {
        transform: translateX(0px) translateY(0px);
        /* Começo da Posição */
    }

    to {
        transform: translateX(0px) translateY(20px);
        /* Final da posição */
    }
}

@keyframes movetoynegative {
    from {
        transform: translateX(0px) translateY(0px);
    }

    to {
        transform: translateX(0px) translateY(-20px);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    /* Começa transparente */
    to {
        opacity: 1;
    }

    /* Termina opaco */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    /* Começa opaco */
    to {
        opacity: 0;
    }

    /* Termina transparente */
}



@media(min-width: 432px) {

    .menu-img img {
        max-width: 295px;
        display: block;
        margin: 0 auto;
        padding-top: 0.2rem;
    }
}

.container-vendas-1 h1 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 10px;
    position: relative;
    margin: 0 0 600px 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-vendas-1-title {
    background-color: #2cbbc1;
    max-height: 8%;
    max-width: 100%;
    margin: 40px 20px 2px;
    border-radius: 25px;
    animation: slideleft 4s ease-in-out alternate-reverse;
}

.container-vendas-1 {
    display: grid;
    max-width: 95%;
    margin: 0 auto;
}
.galeria_vendas-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    position: relative;
    bottom: 570px;
}

.galeria_vendas-1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.galeria_vendas-1 p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria_vendas-item-01 {
    background-color: #f2f2f2;
    margin: 2px 4px 2px 10px;
    border-radius: 5px;
    max-width: 93%;
    padding: 10px 7px;
}

.galeria_vendas-item-02 {
    background-color: #f2f2f2;
    margin: 2px 10px 2px 4px;
    border-radius: 5px;
    max-width: 93%;
    padding: 10px 7px;
}

.galeria_vendas-item-03 {
    background-color: #f2f2f2;
    margin: 2px 4px 2px 10px;
    border-radius: 5px;
    max-width: 93%;
    padding: 10px 7px;
}

.galeria_vendas-item-04 {
    background-color: #f2f2f2;
    margin: 2px 4px 2px 8px;
    border-radius: 5px;
    max-width: 93%;
    padding: 10px 7px;
}

.galeria_vendas-item-bg {
    background-color: rgb(255, 255, 255);
    max-width: auto;
    border-radius: 5px;
}

.galeria_vendas-item-01 p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    font-weight: normal;
    display: flex;
    justify-content: left;
    line-height: 20px;
    position: relative;
    top: 10px;
    color: #7B7B7B;
}

.galeria_vendas-item-01 p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: left;
    line-height: 20px;
    position: relative;
    top: 10px;
    color: #7B7B7B;
}


.galeria_vendas-item-02 p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    font-weight: normal;
    display: flex;
    justify-content: left;
    line-height: 20px;
    position: relative;
    top: 10px;
    color: #7B7B7B;
}

.galeria_vendas-item-02 p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: left;
    line-height: 20px;
    position: relative;
    top: 10px;
    color: #7B7B7B;
}


.galeria_vendas-item-03 p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    font-weight: normal;
    display: flex;
    justify-content: left;
    line-height: 20px;
    position: relative;
    top: 10px;
    color: #7B7B7B;
}

.galeria_vendas-item-03 p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: left;
    line-height: 20px;
    position: relative;
    top: 10px;
    color: #7B7B7B;
}


.galeria_vendas-item-04 p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    justify-content: left;
    line-height: 20px;
    position: relative;
    top: 10px;
    color: #7B7B7B;
}

.galeria_vendas-item-04 p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: left;
    line-height: 20px;
    position: relative;
    top: 10px;
    color: #7B7B7B;
}


.galeria_vendas-1 button:nth-child(2) {
    width: 70px;
    height: 50px;
    background: transparent;
    border: none;
    display: flex;
    position: relative;
    left: 48px;
    top: 20px;
}

.galeria_vendas-1 .galeria_vendas-item-buysec button:nth-child(3) {
    width: 70px;
    height: 50px;
    background: transparent;
    border: none;
    display: flex;
    position: relative;
    left: 48px;
    top: 15px;
}

.galeria_vendas-item-buysec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galeria_vendas-item-buysec p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    padding: 0px;
    display: flex;
    justify-content: left;
    line-height: 20px;
    position: relative;
    top: 5px;
    color: #7B7B7B;
}

@keyframes slideleft {
  from {
    transform: translateX(0px) translateY(0px);
  }
  to {
    transform: translateX(100px) translateY(0px);
  }
}

footer {
  background-color: #fd9a32;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  z-index: 1;
  align-items: center;
  bottom: 0;
  position: fixed;
}

footer button {
  background: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.info-sec {
  background-color: #f2f2f2;
  position: relative;
  bottom: 500px;  
  height: 500px;
  max-width: 100%;
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.info-sec-container img {
  max-width: 70%;
}

.info-sec-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.info-sec-container h2 {
  font-family: 'Roboto', sans-serif;
  color: #8c5826;
  text-align: center;
  font-weight: normal;
}